<h1>Final Project Preliminary - Data in Hand</h1>

<h4>Sophia Swengel</h4>

November 28, 2023

<hr/>

<p>These are the data tables, sourced from the <a href="https://highered.ohio.gov/data-reports/key-topic-areas/dr-degrees/data-reports-degrees">Ohio Department of Higher Education website</a>, that I will be using in my final project analysis.</p>

In [2]:
import pandas as pd

In [3]:
df_2002_2011 = pd.read_csv("20022011.csv")
df_2002_2011.head()

,Sector,Institution,Discipline Area,Subject Field,Level of Degree or Certificate,Awards in FY 2002,Awards in FY 2003,Awards in FY 2004,Awards in FY 2005,Awards in FY 2006,Awards in FY 2007,Awards in FY 2008,Awards in FY 2009,Awards in FY 2010,Awards in FY 2011
0,Community Colleges,Belmont Technical College,Arts & Humanities,Liberal and General Studies,Associate Degree,0,0,0,0,0,1,3,1,6,7
1,Community Colleges,Belmont Technical College,Business,Accounting,Associate Degree,8,16,8,14,14,5,13,10,8,11
2,Community Colleges,Belmont Technical College,Business,Accounting,Less than One-Year Award,0,0,0,0,0,1,4,2,0,6
3,Community Colleges,Belmont Technical College,Business,Accounting,One to less than Two-Year Award,2,2,2,0,3,0,0,0,0,0
4,Community Colleges,Belmont Technical College,Business,Administrative and Secretarial,Associate Degree,3,3,4,2,7,7,4,4,5,7

<p>The above data table is the awards of degrees from Ohio universities from 2002 to 2011.</p>

In [8]:
df_2012_2023 = pd.read_csv("20122023.csv")
df_2012_2023.head()

/var/folders/dz/bmyfzjwj11n3v1wj7dck4frm0000gn/T/ipykernel_51311/159119792.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012_2023 = pd.read_csv("20122023.csv")

,sector,campus,awlevel,UNITID,Inst_code,SUBJECT_TITLE,subject_field,subject_code,discipline_area,awards,year,campus_code,Degree_Desc
0,University Main Campuses,University of Akron,7,200800,AKRN,Geophysics and Seismology,Geology and Hydrology,400603.0,Natural Science & Mathematics,1,2016,AKRN,Masters Degree
1,University Main Campuses,University of Akron,5,200800,AKRN,Geography,Geography,450701.0,Social & Behavioral Sciences,1,2012,AKRN,Bachelor Degree
2,University Main Campuses,University of Akron,7,200800,AKRN,Keyboard Instruments,"Music, Performance",500907.0,Arts & Humanities,1,2019,AKRN,Masters Degree
3,University Main Campuses,University of Akron,5,200800,AKRN,Voice and Opera,"Music, Performance",500908.0,Arts & Humanities,2,2014,AKRN,Bachelor Degree
4,University Main Campuses,University of Akron,7,200800,AKRN,"Foods, Nutrition, and Wellness Studies, General",Family and Consumer Studies,190501.0,Social & Behavioral Sciences,1,2014,AKRN,Masters Degree

<p>The above data table is the awards of degrees from Ohio universities from 2012 to 2023.</p>

<p>These two data tables can be wrangled to examine the awarding of bachelors degrees in history by Kent State University specifically. While both tables have individual columns for important values such as specific campus, the degree subject area and field, and the degree level, the 2002-2011 data table has one column per year to represent the amount of degrees awarded per year, while the 2012-2023 page has just one column with the entry for each row being the specific year the award was granted and another column for the amount granted that year. Hence, these tables will need some merging and wrangling of columns for clarity of analysis.</p>